server:
  port: 8082

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:mysql://localhost:3308/order_service?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: order_user
    password: order_pass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/microservices-realm

logging:
  level:
    ma.enset.orderservice: DEBUG
    org.springframework.security: DEBUG
